.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainScreen {
  text-align: center;
  list-style-type: none;
  width: 100%;
}

body{
  background-color: #73A0F4;
}

button{
  margin-top: 2px;
  width: 30%;
  background-color: aliceblue;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover{
  background-color: darkgray;
}

h1{
  text-align: center;
  color: whitesmoke;
  border-style: solid;
  border-color: black;
}

li{
  border-style: solid;
  list-style-type: none;
}
